@use './colors' as c;
@use './fonts' as f;

.title {
    font-size: 45px;
    font-weight: 300;

    span {
        font-weight: 500;
    }
}

.bold {
    font-weight: bold;
}

.subtitle {
    color: c.$text;
    font-family: f.$font-secondary;
}

.divider {
    background: c.$red;
    height: 3px;
    width: 110px;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;

    &_center {
        margin-left: auto;
        margin-right: auto;
    }
}